<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <br>
    <br>
    <br>
    <div class="container  justify-content-center align-items-center">
        <a class="btn btn-primary btn-sm follow" href="{% url 'home' %}">Home</a>
        <br>
        <br>
        {% if staff == "yes" %}
        <a class="btn btn-primary" href="{% url 'show_restaurants_orders' %}">Orders</a>
        <br>
        <br>
        {% else %}
        <a class="btn btn-primary" href={% url 'all_orders' %}><span class="glyphicon glyphicon-shopping-cart"></span>Processing Orders</a>
        <br>
        <br>
        {% endif %}
        <div class="card">
            {% if staff == "no" %}
            <div class="mt-5 text-center">
                <h4 class="mb-0">{{customer.user.username}}</h4>
                <div class="d-flex justify-content-between align-items-center mt-4 px-4">
                    <div class="stats">
                        <h6 class="mb-0">Email</h6> <span>{{customer.email}}</span>
                    </div>
                    <div class="stats">
                        <h6 class="mb-0">Address</h6>
                        <span>
                            {% for ad in customer.address.all %}
                                <li>{{ad}}</li>
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <br>
                <br>
                <a class="btn btn-primary btn-sm follow" href="{% url 'edit_info' %}">Edit</a>
                <br>
                <br>
            </div>
            {% else %}
            <div class="mt-5 text-center">
                <h4 class="mb-0">{{customer.user.username}}</h4>
                <div class="mt-5 text-center">
                    <div class="stats text-center">
                        <h6 class="mb-0">Email</h6> <span>{{customer.email}}</span>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <div class="stats">
                        {% if customer.restaurant %}
                        <div class="container">
                            <br>     
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Restaurant</th>
                                  <th>Address</th>
                                  <th>Category</th>
                                  <th>Meal</th>
                                  <th>Details</th>
                                  <th>Registered Date</th>
                                  <th>Menu</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td>{{customer.restaurant.restaurant}}</td>
                                    <td>{{customer.restaurant.address}}</td>
                                    <td>{{customer.restaurant.category}}</td>
                                    <td>{{customer.restaurant.meal}}</td>
                                    <td>{{customer.restaurant.details}}</td>
                                    <td>{{customer.restaurant.date_of_register_jalali}}</td>
                                    <td><a class="btn btn-success btn-sm follow" href="{% url 'show_menu' %}">Menu</a></td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                        {% else %}
                            <a class="btn btn-primary btn-sm follow" href="{% url 'add_branch' %}">Add Your Restaurant</a>  
                        {% endif %}
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>