<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
  <br>
  <br>
  <a class="btn btn-danger" href="{% url 'admin_page' %}">Home</a>
  <br>
  <br>
  <form method="POST" id="form" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="container">
    <h2>ADD FOOD</h2>
    <br>
    <br>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name"><b>Name</b></label>
          <input type="text" class="form-control" placeholder="Enter the food's name" name="name" id="name" required>
          <br>
      </div>
      <div class="form-group col-md-6">
        <label for="detail"><b>Detail</b></label><br>
        <textarea id="detail" class="form-control" name="detail" placeholder="Enter the details here..." style="height:200px"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="category"><b>Choose the category</b></label>
        <select name="category" id="category" class="form-control" required>
          {% for obj in categories %}
            <option value={{obj.name}}>{{obj.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="meal"><b>Choose the meal</b></label>
        <select name="meal" id="meal" class="form-control" required>
          {% for obj in meals %}
            <option value={{obj.meal}}>{{obj.meal}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="image">Image</label>
        <input type="file" class="form-control" id="image" name="image" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submit">ADD FOOD</button>
    <a href="{% url 'add_food' %}"></a>
  </form>
</div>
    {% comment %} <a class="btn btn-danger" href="{% url 'admin_page' %}">Home</a>
    <form method="POST" id="form" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="container">
          <h2>ADD FOOD</h2>
          <hr>
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter the food's name" name="name" id="name" required>
          <br>
          <label for="detail"><b>Detail</b></label><br>
          <div class="col-75">
            <textarea id="detail" name="detail" placeholder="Enter the details here..." style="height:200px"></textarea>
          </div>
          <label for="category"><b>Choose the category</b></label><br>
          <select name="category" id="category" required>
            {% for obj in categories %}
            <option value={{obj.name}}>{{obj.name}}</option>
            {% endfor %}
          </select>
          <br>
          <label for="meal"><b>Choose the meal</b></label><br>
          <select name="meal" id="meal" required>
            {% for obj in meals %}
            <option value={{obj.meal}}>{{obj.meal}}</option>
            {% endfor %}
          </select>
          <br>
          <br>
          <label for="image"><b>Image<b></label>
          <br>
          <input type="file" id="image" name="image" required>
          <hr>
          <button type="submit" class="registerbtn" id="submit">ADD FOOD</button>
        </div>
        <a href="{% url 'add_food' %}"></a>
    </form> {% endcomment %}
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
        var URL = "{% url 'add_food' %}"
    </script>
    <script src={% static 'add_foods.js' %}></script>
</body>
</html>