<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% load rest_framework %}
    <form action="{% url 'add_food' %}" method="POST">
        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="Save">
    </form> {% endcomment %}
    {% for food in object_list %}
        <li>{{food.name}}</li>
        <h6>{{food.detail}}</h6>
        <h6>{{food.category}}</h6>
        <h6>{{food.meal}}</h6>
        <h6>{{food.date_of_record}}</h6>
        <img src="/media/{{food.image}}" alt="" style="height:200px">
        <br>
        <hr>
        <br>
    {% endfor %}
</body>
</html>