<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <p>cart page for {{request.user}}</p>
    {% for ord in object_list %}
        {% if ord.customer.user == request.user and ord.customers_status == 'a' %}
            {% for o in ord.menu.all %}
                <li>{{o.item.food.name}}</li>
                <h5>{{o.number}}</h5>
                <h5>{{o.price}}</h5>
                <img src="/media/{{o.item.food.image}}" alt="" style="height:200px">
                <hr>
            {% endfor %}
            <h3>total price: {{ord.total_price}}</h3>
        {% endif %}
    {% endfor %}
    <form method="POST" id="form" action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit">CONFIRM PURCHASE</button>
        <a href="{% url 'home' %}"></a>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% load static %}
    <script>
        var CSRF_TOKEN = '{{ csrf_token }}';
        var URL = "{% url 'invoice' %}"
    </script>
    
    <script src={% static 'invoice.js' %}></script>
</body>
</html>