{% extends './base.html' %}
{% block title %}
<title>Online Food</title>
{% endblock title %}

{% block header %}
<div class="jumbotron">
    <div class="container text-center">
      <h1 style="color:orange;">Online Food Store</h1>      
    </div>
  </div>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid" style="background-color: rgb(255, 150, 100);">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Logo</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" color="yellow">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href={% url 'all_restaurants' %}>Restaurants</a></li>
          {% if user.is_superuser %}
            <li><a href={% url 'admin_page' %}>Admin</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a href={% url 'profile' %}>Profile</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href={% url 'logout' %}><span class="glyphicon glyphicon-user"></span>Log Out</a></li>
            <li><a href={% url 'all_orders' %}><span class="glyphicon glyphicon-shopping-cart"></span>Processing Orders</a></li>
            {% else %}
            <li><a href={% url 'login' %}><span class="glyphicon glyphicon-user"></span>Log In</a></li>
            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            {% endif %}
          <li><a href={% url 'cart' %}><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock header %}
{% block content %}
<div class="container">    
    <div class="row">
      {% for food in populars %}
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><a href={% url 'restaurants_menu' food.menus.last.branches.pk %}><span style="color: black"> Popular Food {{forloop.counter}}</span></a></div>
            <div class="panel-body"><img src="/media/{{food.food.image}}" class="img-responsive" style="width:100%" alt="Image"></div>
            <div class="panel-footer"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  <br><hr><br>
  <div class="row">
    {% for res in pop_res %}
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading"><a href={% url 'restaurants_detail' res.pk %}><span style="color: black"> Popular Restaurant {{forloop.counter}}</span></a></div>
          <div class="panel-body"><h4 style="color: orange">{{res.restaurant}}</h4></div>
          <div class="panel-footer"></div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}



